<!DOCTYPE html>
<html lang="en">
<head>
  <title>dashboard</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .alert-error {
      padding: 8px;
      background-color: rgb(50, 72, 196);
      color: white;
    }

    hr.style2 {
      border-top: 3px double #8c8b8b;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="text-alignment heading-font heading-fonyt-size" style="padding-top: 25px;">Dashboard</div>
  <!-- <div class="form-group"> -->
    {% for message in get_flashed_messages() %}
      <div class="alert-error"><b>NOTE:</b> {{ message }}</div>
    {% endfor %}
  <!-- </div> -->
  <div>
  {% if session['logged_in'] %}   
    <a href="/user/logout"<button type="submit" class="btn btn-sm btn-primary header-btn">Logout</button></a>
    <button type="button" class="btn btn-sm btn-primary header-btn" data-toggle="modal" data-target="#uploadModal">Upload</button><br/><br/>
  </div>
  <hr class="style2"><br>
<div class="container">
  <!-- Trigger the modal with a button -->
  {% if user[1] == 'Admin' %}
    {% for record in data %}
      <div style="float: left; padding-left: 20px; padding-bottom: 5px; width: 100%;">
        <p><b>Firstname:</b> {{ record[0] }}</p>
        <p><b>Lastname:</b> {{ record[1] }}</p>
        <p><b>Username:</b> {{ record[2] }}</p>
        <p><b>Groups:</b> {{ record[3] }}</p>
        <a style="float: left; margin-left: 47%;" href="/admin/approveuser/{{record[2]}}"<button type="submit" class="btn btn-sm btn-primary header-btn">Approve</button></a><br/><br/>
        <hr class="style2"><br>
      </div>
    {% endfor %}
  {% endif %}

  {% if user[1] == 'User' %}
    {% for record in data %}
      <div style="float: left; padding-left: 20px; padding-bottom: 5px; width: 100%;">
        <p><b>Filename:</b> {{ record[1] }}</p>
        <p><b>Upload by:</b> {{ record[0] }}</p>
        <p><b>Groups:</b> {{ record[2] }}</p>
        <p><b>Created At:</b> {{ record[3] }}</p>
        <p><b>Updated At:</b> {{ record[4] }}</p><br/>
        <hr class="style2"><br>
      </div>
    {% endfor %}
  {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="uploadModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload File</h4>
        </div>
        <div class="modal-body">
          <form method='post' action='' enctype="multipart/form-data">
            <label for="exampleFormControlFile1">Select an input file</label>
            <input type="file" class="form-control-file" id="image-file" onchange="loadFile(event)"> <br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="close" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"  value="Submit" data-dismiss="modal" onclick="return uploadFile();" >Upload</button>
        </div>
      </div>
      <div id="output"></div>
    </div>
  </div>
</div>
{% else %}
    <a href="/user/login"<button type="submit" class="btn btn-sm btn-primary header-btn">Login</button></a>
    <a href="/user/signup"><button type="submit" class="btn btn-sm btn-primary header-btn">Sign Up</button></a>
  {% endif %}
      
  <script type="text/javascript">
    function uploadFile() {
      let file = document.getElementById("image-file").files[0];
      let formData = new FormData();

      formData.append("file", file);
      fetch('/user/upload?username={{user[0]}}', {method: "POST", body: formData});
    }
  </script>
</body>
</html>

